.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.3s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: #fff;
  transition: transform 0.3s ease;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus-visible + .slider {
  outline: 0.125em solid #2196f3;
  outline-offset: 0.125em;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  width: 17em;
  height: 4em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
}

html {
  border: solid 0.3em #2196f3;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/surfree128.png");
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  font-size: 1.1em;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.buttonLabel {
  color: #fff;
  font-size: 1.8em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  -webkit-text-stroke: 1px #2196f3;
}

.statsLabel {
  color: #000;
  font-size: 1.4em;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.statsData {
  color: #fff;
  font-size: 2.3em;
  -webkit-text-stroke: 1px #2196f3;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
